.page-hero-header {
  //   background: $light-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 90vh;
  background-color: $white;

  @media (min-width: #{$screen-sm}) {
    height: 80vh;
  }

  @media (min-width: #{$screen-lg}) {
    margin: 25px 0;
    flex-direction: row;
    height: 80vh;
  }
}

.gsap-h1 {
  font-size: 80px;
  height: 100px;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  position: relative;
}

.hidetext {
  position: relative;
}

.hidetext:before {
  position: absolute;
  background: $white;
  content: "";
  width: 100%;
  z-index: 999;
}

.header-hero-image {
  width: 100%;
  height: 60%;

  @media (min-width: #{$screen-lg}) {
    width: 40%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.header-hero-text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  * {
    color: $black;
  }

  @media (min-width: #{$screen-lg}) {
    width: 35%;
    text-align: left;
    height: 100%;
    align-items: flex-start;
  }
}

/*********************
END OF HOMEPAGE HERO SECTION
*********************/

.ce-item,
.l-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  border-bottom: 2px solid $light-blue;

  @media (min-width: #{$screen-lg}) {
    width: 100%;
    padding: 0;
    border: 0;
  }
}

.ce-image,
.l-image {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.blog-mobile-img {
  display: none;

  @media (min-width: #{$screen-lg}) {
    display: block;
  }
}

.excerpt-blog {
  display: block;

  @media (min-width: #{$screen-lg}) {
    display: none;
  }
}

.ce-image img,
.l-image img {
  transition: all ease-in-out 1.4s;
}

.ce-image img:hover,
.l-image img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.l-item {
  width: 100%;
  text-align: center;
  padding: 25px 0;

  @media (min-width: #{$screen-lg}) {
    width: 30%;
    padding: 0;
  }
}

#employers,
#candidates {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  a {
    width: 100%;
  }
}

.arrow-icon {
  width: 22px;
  margin: 10px;
  opacity: 1;
  transition: all 0.4s;

  &:hover {
    opacity: 0.5;
  }
}

.button-section {
  padding: 5vh 0;
}

.looking-section {
  padding: 5vh 0;
  background: $light-blue;

  @media (min-width: #{$screen-lg}) {
    padding: 10vh 0;
  }
}

.looking-text-section {
  text-align: center;
}

.l-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 5vh 0;
  flex-direction: column;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
  }
}

.blog-image-single {
  height: 50vh;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog-item-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-title,
.looking-text-section,
.candidates-employers-text-section h2,
.button-title {
  text-align: center;
  padding: 0;
  margin-top: 0;
  padding-top: 0;

  @media (min-width: #{$screen-lg}) {
    padding: 5vh 0;
  }
}

.blog-single {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5vh 0;
}

.blog-single #recent-posts-2 {
  width: 20%;
}

section.blog-section {
  padding: 5vh 0;
  background: $light-blue;
}

.newsletter-group {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: #{$screen-md}) {
    padding: 5vh 0;
  }

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
    padding: 10vh 0;
  }
}

.reverse {
  flex-direction: column;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row-reverse;
  }
}

.newsletter-section {
  background: $light-blue;
}

.newsletter-text {
  margin: 0;
  text-align: center;

  @media (min-width: #{$screen-md}) {
    margin: 50px 0;
  }

  @media (min-width: #{$screen-lg}) {
    text-align: left;
    margin: 50px 0;
  }
}

.newsletter-image {
  width: 100%;

  @media (min-width: #{$screen-lg}) {
    width: 50%;
  }

  img {
    width: 100%;
  }
}

.newsletter-right-section {
  width: 100%;
  text-align: center;

  @media (min-width: #{$screen-lg}) {
    width: 40%;
    text-align: left;
  }
}

.newsletter-group-section {
  padding: 0;
  border-bottom: 1px solid $light-blue;

  @media (min-width: #{$screen-lg}) {
    padding: 5vh 0;
    border: 0;
  }
}

// Template pages

.text-sections {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 0;
  flex-direction: column;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
    padding: 10vh 0;
  }
}

.main .container:nth-child(odd) .text-sections {
  flex-direction: column-reverse;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row-reverse;
  }
}

.main .container:nth-child(even) .text-sections {
  flex-direction: column;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
  }
}

.text-text {
  width: 100%;
  text-align: center;
  padding: 2vh 0;

  @media (min-width: #{$screen-lg}) {
    width: 50%;
    text-align: left;
    padding: 0;
  }
}

.text-image {
  width: 100%;

  @media (min-width: #{$screen-lg}) {
    width: 40%;
  }
}

.text-image img {
  margin: 0 auto;
}

.text-sections:nth-child(even) {
  flex-direction: row;
}

.button-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  text-align: center;
}

.left {
  text-align: left !important;
}

.text-card {
  margin: 20px 0;

  * {
    margin: 20px 0;
    text-align: center;
  }

  h5 {
    height: auto;
    margin-top: 0;

    @media (min-width: #{$screen-lg}) {
      height: 6vh;
      margin: 20px 0;
    }
  }
}

.newsletter-card {
  margin: 20px 0;

  * {
    margin: 20px 0;
    text-align: center;

    @media (min-width: #{$screen-lg}) {
      text-align: left;
    }
  }
}

.widgettitle {
  margin-top: 0;
}

.contact-section-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-block {
  width: 50%;

  .wpcf7-form-control-wrap input {
    width: 99%;
  }
}

input[type="file"] {
  border: none;
}

.submit-send {
  text-align: center;
}

// [type="submit"] {
// 	width: 100%;
// }

// HEADER WIDGET

.header-info {
  display: none;

  @media (min-width: #{$screen-lg}) {
    display: flex;
    margin: 25px 0;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }
}

.mobile-info {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 25px 0;
  flex-direction: column-reverse;
  justify-content: center;

  @media (min-width: #{$screen-lg}) {
    display: none;
  }
}

.social-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icon {
  width: 50px;
  height: auto;
  transition: all 0.5s;

  ion-icon {
    width: 100%;
    height: 25px;
    color: $blue;
  }

  &:hover {
    opacity: 0.6;
  }
}

.header-nav-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 60%;
}

.ce-image img,
.text-image img,
.newsletter-image img {
  box-shadow: $drop-shadow;
}

//Employers Candidates section

.candidates-option,
.hiring-option {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiring-looking-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.candidates-option {
  background: $blue;

  * {
    color: $white;
  }
}

.quote-group {
  display: none;
  position: absolute;
  top: 5%;
  right: 5%;
  max-width: 400px;

  * {
    color: $white;
    @include dropShadow;
  }

  @media (min-width: #{$screen-md}) {
    display: block;
  }
}

.job-manager-application-wrapper .application .application_button,
.single_job_listing .application .application_button {
  font-size: 14px !important;
}

p.footer-category {
  display: none;
}
