/******************************************************************
Site Name: Dirty Martini Starter Theme 
Theme URI: https://www.dirty-martini.com/
Author: Maxwell Kirwin
Author URI: https://www.maxwellkirwin.co.uk/
Description: Dirty Martini 
Official Theme.

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.

Helpful articles on Sass file organization:
http://thesassway.com/advanced/modular-css-naming-conventions

******************************************************************/

/*********************
IMPORTING MODULES
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

@import "modules/Color";
@import "modules/Typography";
@import "modules/Variables";
@import "modules/Mixins";
@import "modules/Base";
@import "modules/Hero";
@import "modules/Layout";
@import "modules/Header";
@import "modules/Footer";
@import "modules/Button";
@import "modules/Form";
@import "modules/Grid";
@import "modules/Image";
@import "modules/Link";
@import "modules/List";
@import "modules/Table";
@import "modules/Flickity";
@import "modules/Barba";
@import "modules/Wordpress";

// Styles for the custom dashboard widget in the admin
#plate_dashboard_widget {
  padding-bottom: 1em;

  * {
    line-height: 1.4;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.664em;
  }

  p {
    font-size: 15px;
  }
}

#wpfooter {
  display: none;
}

/*********************
MY STYLES
*********************/

@import "mystyles";
