/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

See here on placeholder selectors and why you should
use @extend instead of @include:
http://thesassway.com/intermediate/understanding-placeholder-selectors

Also, don't use cursor: pointer; for buttons as they already should 
signify that they are clickable:

https://medium.com/simple-human/buttons-shouldnt-have-a-hand-cursor-b11e99ca374b

*********************/

%button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 0;
  background: $black;
  color: #fff;
  text-decoration: none;
  &:hover,
  &:focus {
  }
  &:active {
    top: 1px; // adds a tiny hop to the click
    background: $white;
    color: $black;
    transition: all 0.6s;
  }
} // end .button

button,
[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid $black;
  background: $black;
  color: $white;
  text-decoration: none;
  height: auto;
  width: auto;

  &:hover {
    background: $light-blue;
    border: 2px solid $light-blue;
    transition: all 0.6s;
    color: $blue;
  }
}

.blue-button {
  @extend %button;
  background: #0056ac;
  color: #fff;
  &:hover,
  &:focus {
    color: #fff;
  }
}

.label-block {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.job-search-input,
select {
  margin: 15px auto;
  width: 80%;
  border: 2px #5b8af2 solid;
  height: 40px;
  margin-bottom: 0;
}

.job-search-input-search {
  height: auto;
  width: 80%;
  margin: 0;
}
