// Blog
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.byline {
  display: flex;
  flex-direction: row;
  padding: 0;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: $page-margin-row;

  * {
    margin-right: $text-space;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.blog-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px 0;
  flex-basis: auto;
  margin: calc(#{$page-margin-column} / 2) calc(#{$page-margin-row} / 2);
  border-bottom: 8px solid $black;

  @media (min-width: #{$screen-lg}) {
    padding: 0;
  }
}

// Sections
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.full-width-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $page-margin-column 0;
  flex-direction: column;
  width: 100%;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
  }
}

.menu-section-row {
  margin: 0 auto;
  max-width: 112rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(#{$page-margin-column} / 2) 0;
  flex-direction: column;
  width: 100%;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
  }
}

.no-padding-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;

  @media (min-width: #{$screen-lg}) {
    flex-direction: row;
  }
}

.column-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $page-margin-column 0;
  flex-direction: column;
}

.title-section {
  text-align: center;
  margin: 0 auto;
  padding: calc(#{$page-margin-column} / 2) 0;
  padding-top: 0;
}

// Divider
// ––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  border: 0;
  border-top: 0.1rem solid $color-tertiary;
  margin: 3rem 0;
}

// Underline
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.underline {
  height: 2px;
  width: 180px;
  background: $black;
  margin: 0 auto;

  @media (min-width: #{$screen-lg}) {
    margin: 0;
  }
}

.underline-white {
  height: 2px;
  width: 180px;
  background: $white;
  margin: 0 auto;

  @media (min-width: #{$screen-lg}) {
    margin: 0;
  }
}

// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

code {
  background: $color-tertiary;
  border-radius: 0.4rem;
  font-size: 86%;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

pre {
  background: $color-tertiary;
  border-left: 0.3rem solid $color-primary;
  overflow-y: hidden;

  & > code {
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
}

// Blockquote
// ––––––––––––––––––––––––––––––––––––––––––––––––––

blockquote {
  border-left: 0.3rem solid $color-quaternary;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem 1.5rem;

  *:last-child {
    margin-bottom: 0;
  }
}

// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
dd,
dt {
  margin-bottom: 1rem;
}

fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}

blockquote,
dl,
figure,
form,
p,
pre,
table {
  margin-bottom: 2.5rem;
}

// EXTRAS

.stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.sticky {
  position: initial;
  top: 100px;

  @media (min-width: #{$screen-lg}) {
    position: sticky;
  }
}

.middle {
  text-align: center;
}

.gray {
  background-color: $light-gray;
}

.white {
  color: $white;
}

// Image Side - Text Side
// -------------------------------------------------------------------------

.image-side,
.text-side {
  width: 100%;
  text-align: center;
  margin: 20px auto;

  @media (min-width: #{$screen-lg}) {
    text-align: left;
    width: 45%;
  }
}

.image-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Card
//--------------------------------

.ce-item,
.l-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  border-bottom: 2px solid $light-blue;

  @media (min-width: #{$screen-lg}) {
    width: 100%;
    padding: 0;
    border: 0;
  }
}

.ce-image,
.l-image {
  width: 100%;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.ce-image img,
.l-image img {
  transition: all ease-in-out 1.4s;
}

.ce-image img:hover,
.l-image img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.text-card {
  margin: 20px 0;

  * {
    margin: 20px 0;
    text-align: center;
  }

  h5 {
    height: auto;
    margin-top: 0;

    @media (min-width: #{$screen-lg}) {
      height: 6vh;
      margin: 20px 0;
    }
  }
}

// Button Section
//-------------------------------------

.button-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
