/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/

@keyframes topnavbar {
  from {
    transform: translateY(0) rotateZ(0deg);
  }
  to {
    transform: translateY(9px) rotateZ(45deg);
  }
}

@keyframes bottomnavbar {
  from {
    transform: translateY(0) rotateZ(0deg);
  }
  to {
    transform: translateY(-5px) rotateZ(-45deg);
  }
}

@keyframes middlenavbar {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin resetButton {
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

@mixin dropShadow {
  text-shadow: $drop-shadow;
}

@mixin noList {
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    padding: 0;
    margin: 0;
  }
}

@mixin strong {
  font-weight: 700;
}

@mixin unorderedList {
  @include noList;
  display: block;

  &li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0 0 0 15px;
    color: $color-secondary;

    & p {
      margin: 0;
      padding: 0;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-primary;
      top: 10px;
      left: 0;
    }
  }
}

@mixin orderedList {
  @include noList;
  display: block;

  & li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0 0 0 20px;
    color: $color-secondary;

    & p {
      margin: 0;
      padding: 0;
    }

    &:first-child {
      counter-reset: section;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      counter-increment: section;
      content: counters(section, "." ".");
      font-weight: bold;
      color: $color-primary;
    }
  }
}

@mixin specialList {
  @include noList;
  display: block;

  & li {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0 0 0 25px;
    color: $color-secondary;

    & p {
      margin: 0;
      padding: 0;
    }

    &:before {
      content: "🍒";
      display: block;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $color-primary;
      top: 3px;
      left: 0;
    }
  }
}
